<?xml version="1.0" encoding="utf-8"?>

<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="false"
  verbose="true"
>

  <php>
    <ini name="error_reporting" value="-1" />
  </php>

  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <file>./src/FormModelInterface.php</file>
    </exclude>
  </coverage>

  <testsuites>
    <testsuite name="Forms">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
